

// @Film Details SCSS
.filmdetail{
    display: flex;
    padding-left: 5rem;
    padding-bottom: 5rem;
    color: rgb(255, 255, 255);
    font-family: 'Helvetica Neue', sans-serif;
    .filmdetail__content { height: 300px; max-width: 65%;
        .filmdetail__content__one { display: flex; height: 4rem;
            text-align: center; vertical-align: middle; line-height: 23px;
            .role { text-transform: uppercase; font-weight: lighter; height: 1.5rem; padding: 1px 10px; margin-top: 1.45rem;
                background-color: red; text-align: center; vertical-align: middle; font-size: 13px; margin-left: 1rem; }
            .name {font-size: 1.5rem; text-transform: capitalize; font-weight: bold;}
        }
        .filmdetail__content__two {height: 2rem;font-weight: lighter; display: flex; font-size: 15px; color: rgb(146, 144, 141);
            .year {}
            .country {padding-left: 1rem; text-transform: capitalize; }
            .style { padding: 3px 10px; margin-left: 1rem; padding-top:0.5rem; margin-top: 10px; text-transform: uppercase; 
                background-color: rgba(97, 94, 94, 0.548);height: 1.2rem; text-align: center; vertical-align: middle;}
           
        }
        .filmdetail__content__three{ height: 3rem;font-weight: lighter; display: flex; font-size: 1rem;
            .process { font-size: 1rem; color: rgb(146, 144, 141);}
            .view{ padding-left: 1rem; color: rgb(146, 144, 141);}
            .star{ padding-left: 1rem; text-transform: uppercase; display: flex;
                @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
                .rating{border:none; float:left;
                    label:before{margin-left:5px; padding-top: 14px;font-size: 1.20rem;font-family:FontAwesome; display:inline-block; content:"\f005";}
                    .full{color:#FFD700;}
                    .half:before{content:"\f089"; position:absolute;color:#FFD700;}
                }
            }
        }
        .filmdetail__content__four{ display: grid; font-weight: lighter; font-size: 1rem;
            .content__title { font-size: 1.2rem; font-weight: bold; }
            .content__detail { max-width: 89%; font-family: 'Helvetica Neue', sans-serif; font-size: 13px; line-height: 24px; margin: 0 0 24px; text-align: justify; text-justify: inter-word;} 
        }
    }
    .filmdetail__actor { 
        .filmdetail__content__one { display: inline-flex; height: 5rem;
            text-align: center; vertical-align: middle; line-height: 23px;
            .role { text-transform: uppercase; font-weight: lighter; height: 1.5rem; padding: 1px 10px; margin-top: 1.45rem;
                background-color: red; text-align: center; vertical-align: middle; font-size: 13px; margin-left: 1rem; }
            .name {font-size: 1.5rem; text-transform: capitalize; font-weight: bold;}
        }
        .filmdetail__content__two { display: flex; width: 500px;
            .actor { margin-right: 3rem;
                .avatar { width: 100px;height: 100px; border-radius: 50%;}
                .name {color: rgb(155, 194, 63); margin-left:-2rem;width:100px;text-transform: capitalize; font-weight: lighter; height: 1.5rem; font-size: 13px;}
              
            }
            .actor:hover{
                .name{color: rgb(207, 35, 35);}
                .avatar{
                    background-color:#fff;
                    border:4px solid rgb(218, 45, 45);    
                    height:92px;
                    border-radius:50%;
                    -moz-border-radius:50%;
                    -webkit-border-radius:50%;
                    width:92px;
                }
            }
        }
       
    } 
}
