.header{
  width: 100%;
  margin: 0 auto;
  display: flex;
  position: sticky;
  font-family: "Roboto Bold",sans-serif;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  height: 120px;
  font-family: Barlow, sans-serif;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.27;
  letter-spacing: 2px;
  text-align: center;
  color: rgb(29, 29, 29);
  width: 100%;
  white-space: nowrap;
  border-bottom: 4px solid white;
  transition: all 250ms ease 0s;
  
  .content__categories{
    max-width: 1440px;
    width: 70%;
    margin: 0 auto;
    padding-top: 3rem;
    text-align: center;
    align-items: center;
    display: flex;

    .content_tagname {
      margin-right: 2.4rem;
      padding-right: 2rem;
      height: 2.3rem;
      width: 10rem;
      text-align: center;
      list-style-type: none;
    
      border: 1px solid rgba(201, 25, 25, 0.829);
      .infor__categories {
        padding-bottom: 2rem;
        padding-top: 1rem;
        padding-right: 2.2rem;
        padding-left: 2.1rem;
        margin-top: 0.3rem;
        margin-left: -2.4rem;
        background-color: #fff5f5;
        display: none;
        flex-direction: column;
        width: 100%;
       
        .infor__categories_chill{
          margin-top: 0.9rem;
        }  
      }
    }
    .content_tagname:hover{
      .infor__categories{
        display: flex;
      }
    } 
  }
}