
// @Watch
.watch{
    margin: auto;
    position: absolute;
    top: 0; 
    left: 0; 
    right: 0;
    overflow: hidden;
    color: white;
    background-image: linear-gradient(#0a0a0a, #091d33);
    .padding__top {
        padding-top: 60px;
    }
}
